::-moz-selection { 
	background: #c1cfeb; 
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #c1cfeb; 
	color: #fff; 
	text-shadow: none; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, 
a:focus{
    text-decoration: none;
}
p {
    font-family: 'AsapRegular';
}
h2 {
    color: #274b93;
}
h2 {
    font-family: 'AsapRegular';
}

h4 {
    font-family: 'AsapBold';
}

hr {
    background: none repeat scroll 0 0 #E7E9ED;
    height: 3px;
}

.btn-leer {
    background: none repeat scroll 0 0 #F3912D;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 20px;
    padding: 0 0 0 5px;
    font-family: 'AsapRegular';
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.btn-leer span {
    background: none repeat scroll 0 0 #d2520a;
    display: inline-block;
    line-height: 22px;
    border-radius: 0 3px 3px 0;
    padding: 0 5px;
    margin-left: 5px;
}

.btn-leer:hover {
    background: none repeat scroll 0 0 #d2520a;
    color: #ffffff;
}

.btn-leer:hover span {
    background: none repeat scroll 0 0 #F3912D;    
}





.btn-pictures {
    background: none repeat scroll 0 0 #F3912D;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-family: 'AsapBold';
    font-size: 14px;
    line-height: 26px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.btn-pictures span {
    background: none repeat scroll 0 0 #d2520a;
    display: inline-block;
    line-height: 26px;
    border-radius: 0 3px 3px 0;
    padding: 0 5px;
    margin-left: 5px;
    float:right;
}

.btn-pictures:hover {
    background: none repeat scroll 0 0 #d2520a;
    color: #ffffff;
}

.btn-pictures:hover span {
    background: none repeat scroll 0 0 #F3912D;    
}

.btn_send {
    background: none repeat scroll 0 0 #E0E8F6;
    border: 1px solid #8792A9;
    border-radius: 5px 5px 5px 5px;
    color: #3E4960;
    display: inline-block;
    line-height: 16px;
    margin-left: 3px;
    padding: 2px 4px;
    
}
.btn_send input {
    background: none repeat scroll 0 0 #E0E8F6;
    border: medium none;
    display: inline-block;
    font-family: 'AsapRegular';
    font-size: 12px;
    padding: 0;
    vertical-align: top;
}

.btn_send .icon-chevron-sign-right:before {
    width: 17px;
} 
aside {
    background: #f3912d;
}

aside #caso_exito_aside ul li {
    list-style: url('../../img/site/list_aside.png');    
    font-family: 'AsapBold';
    text-transform: uppercase;
    color: #ffffff;
}

aside #caso_exito_aside ul li a {
    color: #ffffff;
}

aside .caption {
    position: relative;
    padding: 10px 20px 0;
}
aside #video_aside .caption:after {
    border-bottom: 30px solid #f3912d;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: 99%;
    content: "";
    display: block;
    height: 0;
    left: 30px;
    position: absolute;
    width: 0;
}


.orange_bg {
    background: #f3912d;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.section_title::before {
    content: "// ";
}

.section_title {
    border-bottom: 1px solid #274b93;
    text-transform: uppercase;
    font-size: 24px;
}

.margin-10 {
    margin-bottom: 10px;
}

.bajada {
    margin: 10px 0;
}
.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top {
    box-shadow: 0 0 6px 1px #000000;
}

.navbar .nav {
    margin: 30px 10px 35px 0;
}

.nav-wrap,
.navbar-inner {
     background: rgba(193, 207, 235, 0.9);
     border-radius: 0;
     position:relative;
     z-index:1;
}

.navbar .nav > li > a {
    font-family: 'AsapBold';
    color: #0f2249;
    text-shadow: none;
    font-size: 12px;
    padding: 5px;
    text-transform: uppercase;
    
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #ef963c; 
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    background-color: #ef963c;
    box-shadow: none;
    color: #ffffff;
    text-decoration: none;
}

.navbar .divider-vertical {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 30px;
    margin: 0 5px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #ef963c;
    box-shadow: none;
    color: #ffffff;
    text-decoration: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

.btn.btn-navbar {
    box-shadow: none;
    color: #FFFFFF;
    background-color: #5E646F;
    background-image: none;
    border-radius: 0;
    background-repeat: repeat-x;
    border-color: transparent;
    color: #FFFFFF;
    text-shadow: 0 0 0 transparent;
    margin-top: 62px;
}

.btn.btn-navbar:hover,
.btn.btn-navbar:focus,
.btn.btn-navbar:active{
		background: rgba(94, 100, 101, 0.9);
}


.btn.btn-navbar .icon-bar {
		background-color: #ffffff;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}

.divider-vertical {
    border-color: #a8b6d1 !important;
}

.toolbar {
    list-style: none outside none;
    margin: 10px 0 0 0;
    padding: 0;
    position: relative;
}
.toolbar li {
    display: inline-block;
    vertical-align: top;
    line-height: 22px; 
    font-size: 12px;
    font-family: 'AsapRegular';  
}

.toolbar li a {
    color: #5e646f;
}

.toolbar li.langChange a {
    margin-right: 10px;
}



.toolbar li a:hover,
.toolbar li a:focus {
    color: #0f2249
}
.toolbar li.divider-vertical {
    height: 25px;
}

.toolbar li form, 
.toolbar li input{
    margin: 0;
}

.toolbar li input[type=text] {
    font-family: 'AsapRegular';    
    padding: 1px 6px;
    font-size: 12px;
}

.badget-circle {
    border: 2px solid #FFFFFF;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 18px;
}

.flexslider {
  margin-bottom: 0px;
}

.flexslider .container {
  position: relative;
  z-index: 9;
  text-align: left;
  height: 480px;
}


.flexslider .container .carousel-caption {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  position: absolute;
  bottom: 0;
  opacity: 0.1;
  margin: 0;
  padding: 60px 0px;
  background: none;
  left: auto;
  right: 0;
  width: 350px;
}

.flexslider .container .carousel-caption h2 {
  font-family: 'AsapRegular';
  display: inline-block;
  margin: 0 0 0px 0;
  padding: 16px;
  background: #e1892e;
  line-height: inherit;
  color: #0e3655;  
  font-size: 19px;
  position: relative;
  margin-bottom: 10px;  
    
}

.flexslider .container .carousel-caption .lead {
  display: inline-block;
  margin: 0;
  padding: 16px;
  background: #000000;
  background: rgba(0, 0, 0, 0.65);
  line-height: inherit;
  font-family: 'AsapItalic';
  color: #fff;  
  font-size: 14px;

}


.flexslider .item {
  height: 480px;
  width: 100%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.show {
    opacity: 1 !important;
}
.show {
    display: block;
}


#featured {
    margin: 20px 0;
}

#featured .content {
    background: none repeat scroll 0 0 #4465AB;
    display: block;
    margin: 10px 0;
    padding: 10px;
    height: 120px;
    color: #ffffff;
    position: relative;
    font-family: 'AsapRegular';
}

#featured .content h4 {
    border-bottom: 1px solid;
    color: #FFFFFF;
    font-family: 'AsapBold';
    font-weight: normal;
    padding-bottom: 5px;
    text-transform: uppercase;
    line-height: 35px;
}

#featured .content h4.like {
    background: url("../../img/site/like.png") no-repeat scroll right 3px transparent;    
}
    
#featured .content h4.video {
    background: url("../../img/site/video.png") no-repeat scroll right 3px transparent;    
}

#featured .content h4.soluciones {
    background: url("../../img/site/soluciones_ico.png") no-repeat scroll right 3px transparent;    
}

#featured .content ul {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
}

#featured .content ul li {
    margin: 15px 0;
}

#featured .content ul li span {
    margin-right: 15px;
}
#featured .content a {
    color: #ffffff;
}

#featured .content a:hover {
    text-decoration: none;
}

#featured .content a.icon-plus.widget_home {
    border: 1px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    bottom: 0;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    width: 20px;
}


#videos,
#listados,
#empresa,
#porque,
#soluciones,
#hseq,
#contacto {
    margin-top: 140px;
}

#accordion .accordion-heading {
    background: #e8eaf1;
    text-transform: uppercase;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
}

#accordion .accordion-heading:focus,
#accordion .accordion-heading:hover {
    background: #274b93;
}

#accordion .accordion-heading a {
    font-family: 'AsapBold';
    color: #363636;
}

#accordion .accordion-heading a span {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    width: 14px;
}

#accordion .accordion-heading:focus a,
#accordion .accordion-heading:hover a {
    color: #ffffff;
    text-decoration: none;
}

#accordion .accordion-heading.active {
    background: #ebf2f9;    
}

#accordion .accordion-heading.active a {
    color: #011030
}

#accordion .accordion-body .accordion-inner {
    background: #ebf2f9;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 0;
}

#accordion .accordion-body .accordion-inner .content {
    border-bottom: 2px solid #0F2249;
    border-top: 2px solid #0F2249;
    margin: 10px 0;
    padding: 10px;
}

#accordion .accordion-body .accordion-inner p {
    margin: 0;
    text-align: justify;
}
#accordion .accordion-body.in{
    margin: 10px 0;
}
#accordion .accordion-group {
    border: none;
}

#contacto label {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-family: 'AsapBold';
    font-size: 12px;
    text-transform: uppercase;
}

#contacto textarea {
    max-height: 145px;
}

#contacto input[type=submit] {
    background: none repeat scroll 0 0 #5E646F;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-family: 'AsapBold';
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}

#contacto input[type=submit]:hover,
#contacto input[type=submit]:focus {
    background: rgba(94, 100, 101, 0.9);
}

#contacto .contact_details {
    font-family: 'AsapRegular';
    color: #ffffff;
}

#contacto .contact_details .span5 {
    text-align: right;
}


#listados .caso_box h4 {
    color: #0f2249;
    font-size: 14px; 
    font-family: 'AsapRegular';
}

#listados  .img-polaroid {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

#listados .item_box >div{
    position: relative;
    margin-bottom: 10px;
}

#listados .overlay {
    background: #f3912d;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}

#listados .item_box:hover .overlay {
    opacity: 0.40;
}


#listados .overlay  i {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.15s ease-in-out 0s;
    font-size: 150px;
    margin: -75px 0 0 -75px;
}
#listados .item_box:hover .overlay i {
    opacity: 1
}

#listados .item_box:hover .btn-pictures {
    background: none repeat scroll 0 0 #d2520a;
    color: #ffffff;
}

#listados .item_box:hover .btn-pictures span {
    background: none repeat scroll 0 0 #F3912D;    
}

#videos .videos_relacionados {
    background: #d3ddf1;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    padding: 10px 20px;
}

#videos .show_videos h4 {
    color: #0f2249;
    font-size: 14px; 
    font-family: 'AsapRegular';
    border-top: 2px solid #0f2249;
    border-bottom: 2px solid #0f2249;
    text-transform: uppercase;
    line-height: 25px;
}

#videos .videos_relacionados h4 {
    border-top: 0px;
}

.flex-video {
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 25px;
    position: relative;
}

.flex-video iframe, .flex-video object, .flex-video embed {
    border: medium none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

aside .aside_titles {
    background: #d2520a;
    border-bottom: 2px solid #b52e02;
    padding: 10px;
}

aside .aside_titles h4 {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    padding-top: 8px;
}

#main_flexslider {
        margin-top: 132px;
    }
    .flexslider .container .carousel-caption h2:before {
	border-bottom: 36px solid transparent;
    border-right: 36px solid #E1892E;
    border-top: 36px solid transparent;
    content: "";
    height: 0;
    left: -36px;
    position: absolute;
    top: 0;
    width: 0; 
}

label.required:before{
    content: " * "
}

.featured-photos {
    height: 280px;
    overflow: hidden;
}
@media (min-width: 1200px) {
   
    .flexslider .item {
        height: 400px;
    }
    
    
    .flexslider .container {
        height: 400px;
    }
      .flexslider .container .carousel-caption {
        padding: 30px 0px;
      }
      
      
      .flexslider .container .carousel-caption h2:before {
	border-bottom: 36px solid transparent;
    border-right: 36px solid #E1892E;
    border-top: 36px solid transparent;
    content: "";
    height: 0;
    left: -36px;
    position: absolute;
    top: 0;
    width: 0; 
}
      /*
      .flexslider .container .carousel-caption h2 {
        font-size: 40px;
      }
      .flexslider .container .carousel-caption .lead {
        font-size: 16px;
      }*/
     
}

@media (min-width: 768px) and (max-width: 979px) {
    
     #main_flexslider {
        margin-top: 0px;
    }
    
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .toolbar{
        float: none;
    }
    
    #frmNltr_email {
     width: 200px;   
    }
    
    #listados,
    #empresa, 
    #porque, 
    #soluciones, 
    #hseq, 
    #contacto {
        margin-top: 10px;
    }
    
    .flexslider .container .carousel-caption h2:before {
	border-bottom: 36px solid transparent;
    border-right: 36px solid #E1892E;
    border-top: 36px solid transparent;
    content: "";
    height: 0;
    left: -36px;
    position: absolute;
    top: 0;
    width: 0; 
}

    .flexslider .item {
        height: 350px;
    }
    
    .flexslider .container {
    height: 350px;
  }
  .flexslider .container .carousel-caption {
    padding: 20px 0px;
  }
  .flexslider .container .carousel-caption h2 {
    font-size: 17px;
  }
  .flexslider .container .carousel-caption .lead {
    font-size: 14px;
  }
    .navbar-fixed-top, 
    .navbar-fixed-bottom, 
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
}


@media (max-width: 767px) {
    body{
		padding: 0px;
		margin:0;
	}
    
    #listados,
    #empresa, 
    #porque, 
    #soluciones, 
    #hseq, 
    #contacto {
        margin-top: 10px;
    }
    
    #main_flexslider {
        margin-top: 0px;
    }
    
    .toolbar{
        float: none;
    }
    
    #frmNltr_email {
     width: 200px;   
    }
    
    .flexslider .container .carousel-caption h2:before {
	border-bottom: 36px solid transparent;
    border-right: 36px solid #E1892E;
    border-top: 36px solid transparent;
    content: "";
    height: 0;
    left: -36px;
    position: absolute;
    top: 0;
    width: 0; 
}
    .flexslider .container {
    height: 350px;
  }
  .flexslider .container .carousel-caption {
     margin-right: 50% !important;
     right: -175px;
    padding: 20px 0px;
  }
  .flexslider .container .carousel-caption h2 {
    font-size: 17px;
  }
  .flexslider .container .carousel-caption .lead {
    font-size: 14px;
  }
  
    .flexslider .item {
        height: 350px;
    }
}

@media (max-width: 480px) {
    body{
		padding: 0px;
		margin:0;
	}
    #main_flexslider {
        margin-top: 0px;
    }
    
    .toolbar{
        float: none;
    }
    
    #frmNltr_email {
     width: 140px;   
    }
    
    #supersized{
        margin:0;
    }
    
    .flexslider .container .carousel-caption h2:before {
	border:none;
    content: "";     
}
    
    .flexslider .item {
        height: 350px;
    }
    
    .flexslider .container {
    height: 350px;
  }
  .flexslider .container .carousel-caption {
    padding: 20px 0px;
    margin: 0;
  }
  .flexslider .container .carousel-caption h2 {
    font-size: 17px;
  }
  .flexslider .container .carousel-caption .lead {
    font-size: 14px;
  }
  
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .navbar-fixed-top, 
    .navbar-fixed-bottom, 
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .logo_footer {
        margin-top: 20px;
    }
    
    aside .aside_titles h4 {
        text-align: center;
        padding: 0 0 10px 0;
    }
    
    #listados,
    #empresa, 
    #porque, 
    #soluciones, 
    #hseq, 
    #contacto {
        margin-top: 10px;
    }
    
    #contacto .contact_details .span5 {
        text-align: left;
    }
    
    .brand {
    margin-top: 25px !important;
}
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .toolbar{
        float: none;
    }
    
    #frmNltr_email {
     width: 200px;   
    }
    
    
    .flexslider .container .carousel-caption h2:before {
	border:none;
    content: "";     
}
    #main_flexslider {
        margin-top: 0px;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #supersized{
        margin:0;
    }
    .flexslider .container {
    height: 350px;
  }
  .flexslider .container .carousel-caption {
    padding: 20px 0px;
    margin: 0;
  }
  
  
  .flexslider .container .carousel-caption h2 {
    font-size: 17px;
  }
  .flexslider .container .carousel-caption .lead {
    font-size: 14px;
  }
  
  
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .logo_footer {
        margin-top: 20px;
    }
    
    aside .aside_titles h4 {
        text-align: center;
        padding: 0 0 10px 0;
    }
    
    #listados,
    #empresa, 
    #porque, 
    #soluciones, 
    #hseq, 
    #contacto {
        margin-top: 10px;
    }
    
    #contacto .contact_details .span5 {
        text-align: left;
    }
}

@media (min-width: 980px) {
}





#footer-site {
    border-top: 2px solid #274b93;
    margin: 20px 0 0 0;
    padding-top: 20px;
    background: rgba(237,237,237,0.7);
}
#footer {
    background: rgba(237,237,237,0.7);
}

#footer p {
    font-size: 12px;
    margin: 0px;
    color: #444242;
}